- 
  var appObj = { "id": "AMC",
      "events": [
        {"macro": "AMC_INIT_INF_EID", "id": 1},
        {"macro": "AMC_PWM_CFGTBL_MIN_LT_DISARMED_ERR_EID", "id": 2},
        {"macro": "AMC_PWM_CFGTBL_MAX_LT_MIN_ERR_EID", "id": 3},
        {"macro": "AMC_CMD_NOOP_EID", "id": 4},
        {"macro": "AMC_SUBSCRIBE_ERR_EID", "id": 5},
        {"macro": "AMC_PIPE_INIT_ERR_EID", "id": 6},
        {"macro": "AMC_MIXER_INIT_ERR_EID", "id": 7},
        {"macro": "AMC_PWM_CFGTBL_MANAGE_ERR_EID", "id": 8},
        {"macro": "AMC_MIXER_CFGTBL_MANAGE_ERR_EID", "id": 9},
        {"macro": "AMC_PWM_CFGTBL_GETADDR_ERR_EID", "id": 10},
        {"macro": "AMC_MIXER_CFGTBL_GETADDR_ERR_EID", "id": 11},
        {"macro": "AMC_RCVMSG_ERR_EID", "id": 12},
        {"macro": "AMC_MSGID_ERR_EID", "id": 13},
        {"macro": "AMC_CC_ERR_EID", "id": 14},
        {"macro": "AMC_MSGLEN_ERR_EID", "id": 15},
        {"macro": "AMC_DEVICE_INIT_ERR_EID", "id": 16},
        {"macro": "AMC_PWM_CFGTBL_REG_ERR_EID", "id": 17},
        {"macro": "AMC_MIXER_CFGTBL_REG_ERR_EID", "id": 18},
        {"macro": "AMC_PWM_CFGTBL_LOAD_ERR_EID", "id": 19},
        {"macro": "AMC_MIXER_CFGTBL_LOAD_ERR_EID", "id": 20},
        {"macro": "AMC_MIXER_INVALID_MIXER_ERR_EID", "id": 21},
        {"macro": "AMC_MIXER_INVLD_ROTOR_CONFIG_ERR_EID", "id": 22},
        {"macro": "AMC_MIXER_TBLVAL_NONZER_DATA_ERR_EID", "id": 23},
        {"macro": "AMC_PARAM_UPDATE_ERR_EID", "id": 24}
      ]
  }
.row.os-theme-dark
  article.col-xs-12.col-sm-12
    header
      span.widget-icon
        i.fa.fa-table
      h2 AMC - Event Filter
    div.widget-body
      table.table.table-condensed
        tbody
          tr
            th CFE EVS Cmd Count
            td
              span(data-cdr={tlm: [{name: '/CFE/EVS_HK/Payload.CommandCounter'}], indicator:'text'}) ---
          tr
            th CFE EVS Cmd Err Count
            td
              span(data-cdr={tlm: [{name: '/CFE/EVS_HK/Payload.CommandErrCounter'}], indicator:'text'}) ---
          tr
            th App Events
            td 
              .btn-group
                button.btn.cdr-outline-primary(data-cdr={cmd: {name:'/CFE/CFE_EVS_EnableAppEvents', argument:[{name:'Payload.AppName', value:appObj.id}]}, indicator:'cmd'}) Enable
                button.btn.cdr-outline-primary(data-cdr={cmd: {name:'/CFE/CFE_EVS_DisableAppEvents', argument:[{name:'Payload.AppName', value:appObj.id}]}, indicator:'cmd'}) Disable
                button.btn.cdr-outline-primary(data-cdr={cmd: {name:'/CFE/CFE_EVS_ResetAppFilters', argument:[{name:'Payload.AppName', value:appObj.id}]}, indicator:'cmd'}) Reset
          tr
            th Event Types
            td
          tr
            td(style='padding-left: 20px !important') Critical
            td
              .btn-group
                button.btn.cdr-outline-primary(data-cdr={cmd: {name:'/CFE/CFE_EVS_EnableAppEventType', argument:[{name:'Payload.AppName', value:appObj.id},{name:'Payload.BitMask', value:'2'},{name:'Payload.Spare', value:'0'}]}, indicator:'cmd'}) Enable
                button.btn.cdr-outline-primary(data-cdr={cmd: {name:'/CFE/CFE_EVS_DisableAppEventType', argument:[{name:'Payload.AppName', value:appObj.id},{name:'Payload.BitMask', value:'2'},{name:'Payload.Spare', value:'0'}]}, indicator:'cmd'}) Disable
          tr
            td(style='padding-left: 20px !important')  Error
            td
              .btn-group
                button.btn.cdr-outline-primary(data-cdr={cmd: {name:'/CFE/CFE_EVS_EnableAppEventType', argument:[{name:'Payload.AppName', value:appObj.id},{name:'Payload.BitMask', value:'4'},{name:'Payload.Spare', value:'0'}]}, indicator:'cmd'}) Enable
                button.btn.cdr-outline-primary(data-cdr={cmd: {name:'/CFE/CFE_EVS_DisableAppEventType', argument:[{name:'Payload.AppName', value:appObj.id},{name:'Payload.BitMask', value:'4'},{name:'Payload.Spare', value:'0'}]}, indicator:'cmd'}) Disable
          tr
            td(style='padding-left: 20px !important')  Info
            td
              .btn-group
                button.btn.cdr-outline-primary(data-cdr={cmd: {name:'/CFE/CFE_EVS_EnableAppEventType', argument:[{name:'Payload.AppName', value:appObj.id},{name:'Payload.BitMask', value:'2'},{name:'Payload.Spare', value:'0'}]}, indicator:'cmd'}) Enable
                button.btn.cdr-outline-primary(data-cdr={cmd: {name:'/CFE/CFE_EVS_DisableAppEventType', argument:[{name:'Payload.AppName', value:appObj.id},{name:'Payload.BitMask', value:'2'},{name:'Payload.Spare', value:'0'}]}, indicator:'cmd'}) Disable
          tr
            td(style='padding-left: 20px !important')  Debug
            td
              .btn-group
                button.btn.cdr-outline-primary(data-cdr={cmd: {name:'/CFE/CFE_EVS_EnableAppEventType', argument:[{name:'Payload.AppName', value:appObj.id},{name:'Payload.BitMask', value:'1'},{name:'Payload.Spare', value:'0'}]}, indicator:'cmd'}) Enable
                button.btn.cdr-outline-primary(data-cdr={cmd: {name:'/CFE/CFE_EVS_DisableAppEventType', argument:[{name:'Payload.AppName', value:appObj.id},{name:'Payload.BitMask', value:'1'},{name:'Payload.Spare', value:'0'}]}, indicator:'cmd'}) Disable
          tr
            th Event IDs
            td
          - for (var idx = 0; idx < appObj.events.length; ++idx) {
            - var strEventID = '' + appObj.events[idx].id;
            - var cmdSetFilter = {cmd: {name:'/CFE/CFE_EVS_SetAppEventFilter', argument:[{name:'Payload.AppName', value:appObj.id},{name:'Payload.EventID', value:strEventID}]}, indicator:'cmd'};
            - var cmdResetFilter = {cmd: {name:'/CFE/CFE_EVS_ResetAppEventFilter', argument:[{name:'Payload.AppName', value:appObj.id},{name:'Payload.EventID', value:strEventID}]}, indicator:'cmd'};
            - var cmdAddEventFilter = {cmd: {name:'/CFE/CFE_EVS_AddAppEventFilter', argument:[{name:'Payload.AppName', value:appObj.id},{name:'Payload.EventID', value:strEventID}]}, indicator:'cmd'};
            - var cmdDeleteEventFilter = {cmd: {name:'/CFE/CFE_EVS_DeleteAppEventFilter', argument:[{name:'Payload.AppName', value:appObj.id},{name:'Payload.EventID', value:strEventID}]}, indicator:'cmd'};
            tr
              td(style='padding-left: 20px !important')  #{appObj.events[idx].macro}
              td
                .btn-group
                  button.btn.cdr-outline-primary(data-cdr= cmdSetFilter) Set
                  button.btn.cdr-outline-primary(data-cdr= cmdResetFilter) Reset
                  button.btn.cdr-outline-primary(data-cdr= cmdAddEventFilter) Add
                  button.btn.cdr-outline-primary(data-cdr= cmdDeleteEventFilter) Delete
          - };
